[user]
    name = Michael Ennen
    email = (none)
    useconfigonly = true
[core]
    autocrlf = false
    excludesfile = ~/.gitexcludes
    editor = nvim
    filemode = false
[diff]
    compactionHeuristic = true
[include]
    path = ~/.gitconfig.local
[push]
    default = simple
[i18n]
    filesEncoding = utf-8
[alias]
    export = archive -o latest.tar.gz -9 --prefix=latest/
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    fixup = "!sh -c '(git diff-files --quiet || (echo Unstaged changes, please commit or stash with --keep-index; exit 1)) && COMMIT=$(git rev-parse $1) && git commit --fixup=$COMMIT && git rebase -i --autosquash $COMMIT~1' -"
[color]
    ui = always
[color "diff"]
    meta = yellow bold
    commit = green bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = "red bold 52"
    newNormal = "green bold"
    newHighlight = "green bold 22"
[color "branch"]
    current = bold white green
    local = bold yellow
    remote = bold magenta
[rerere]
    enabled = true
[github]
    user = brcolow
