[user]
    name = Michael Ennen
    useconfigonly = true
[core]
    autocrlf = false
    excludesfile = ~/.gitexcludes
    editor = nvim
    filemode = false
[diff]
    compactionHeuristic = true
[include]
    path = ~/.gitconfig.local
[push]
    default = current
[i18n]
    filesEncoding = utf-8
[alias]
    export = archive -o latest.tar.gz -9 --prefix=latest/
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    exe = "!git add --chmod=+x \"$1\""
    fum = fetch upstream master
    rum = rebase upstream master
    pof = push origin --force-with-lease
[color]
    ; ui = always
; [color "diff"]
    ; meta = yellow bold
    ; commit = green bold
    ; frag = magenta bold
    ; old = red bold
    ; new = green bold
    ; whitespace = red reverse
; [color "diff-highlight"]
    ; oldNormal = red bold
    ; oldHighlight = "red bold 52"
    ; newNormal = "green bold"
    ; newHighlight = "green bold 22"
; [color "branch"]
    ; current = bold white green
    ; local = bold yellow
    ; remote = bold magenta
[rerere]
    enabled = true
[github]
    user = brcolow
[rebase]
    autosquash = true
[branch]
    autosetuprebase = always
